<!DOCTYPE html>
<html>
<head>
<title>Single category page</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

<h1>DB is empty now.</h1>
  Now you able only parse categories again.
  <br>
  <button type="button" class="btn btn-default" onclick="window.location.href = '/TEST';">Back to categories</button>

</body>
</html>
