<!DOCTYPE html>
<html>
<head>
<title>GooglePlay games parser</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

<h1>GooglePlay games parser. Disclaimer</h1>


Start from here:<br>
http://127.0.0.1:5000/TEST<br>
On that page you can see a list of categories and their parsing status (are they parsed already or not) 
or <br>
http://127.0.0.1:5000/?search={keywords}<br>

</body>
</html>